AllPairs==2.0.1
amqp==2.3.2
appnope==0.1.0
asn1crypto==0.24.0
bcrypt==3.1.4
billiard==3.5.0.3
celery==4.1.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3
decorator==4.3.0
Faker==0.7.18
fire==0.1.1
Flask==1.0
Flask-Cors==3.0.2
Flask-SocketIO==2.9.0
gunicorn==19.7.0
idna==2.5
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10.1
kombu==4.2.1
Logbook==1.0.0
MarkupSafe==1.0
paramiko==2.2.4
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.3
pycparser==2.18
Pygments==2.2.0
pymongo==3.5.1
PyNaCl==1.2.1
python-dateutil==2.7.3
python-engineio==3.9.0
python-socketio==1.9.0
pytz==2018.4
redis==2.10.5
requests==2.20.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.24.2
vine==1.1.4
wcwidth==0.1.7
Werkzeug==0.15.3
kubernetes==6.0.0
pytest==3.6.2
